/* 
    Document   : unipro_uploader
    Created on : 05-Jan-2012, 11:29:14
    Author     : Paul Wilkin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#metadata label {
  margin: 40px 0 0 25px;
}

#metadata #description {
  margin: 0 10px 5px 25px;
  width: 75%;
}

#metadata #display {
  margin:10px 0 0 25px;
}

#filedata p {
  margin:15px 0 0.9em;
}

#filedata caption {
  text-align: center;
  margin-top:5px;
}